!; -*- mode: scheme; -*-

"Code in this file should be associated with the behaviour of code in the file
'framework' ... usually things which change the code emitted by macros."



;; This causes the load process to squawk if a method is created
;; before its corresponding generic-method.  It is a macro
;(define args '())

;(set-kdebug-msg-tags '(trace-model-methods trace-object-methods trace-attribute-methods))
(add-kdebug-msg-tag 'trace-model-methods)
(add-kdebug-msg-tag 'trace-object-methods)
(add-kdebug-msg-tag 'trace-attribute-methods)



